uvicorn[standard]
python-x509-pkcs11
python_cmc
pyjwt
fastapi
asyncpg
cryptography
requests
openapi_schema_validator
pkgutil-resolve-name
importlib-resources
sphinx
zipp
importlib-metadata
exceptiongroup
