uvicorn[standard]
python-x509-pkcs11
python_cmc
pyjwt
fastapi
asyncpg
cryptography
requests
types-requests
types-jsonschema
openapi_schema_validator
pkgutil-resolve-name
importlib-resources
sphinx
zipp
importlib-metadata
pyhanko
mypy
