name: pkcs11_ca-ubuntu

on: [push]

jobs:
  VM-test-job:

    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install git python3-dev python3-pip docker-compose flit curl -y
          bash -c 'export PATH="$PATH:$HOME/.local/bin" && \
          export CA_URL=https://ca:8005 && \
          export CA_DNS_NAME=ca && \
          export PKCS11_SIGN_API_TOKEN=xyz && \
          export PKCS11_TOKEN=my_test_token_1 && \
          export PKCS11_PIN=1234 && \
          export PKCS11_MODULE=/usr/lib/softhsm/libsofthsm2.so && \
          export POSTGRES_HOST=postgres && \
          export POSTGRES_USER=pkcs11_testuser1 && \
          export POSTGRES_PASSWORD=DBUserPassword && \
          export POSTGRES_PORT=5432 && \
          export POSTGRES_DATABASE=pkcs11_testdb1 && \
          export POSTGRES_TIMEOUT=5 && \
          id && \
          cd && \
          git clone https://github.com/SUNET/pkcs11_ca.git && \
          cd pkcs11_ca && \
          python3 -m pip install -r requirements.txt && \
          python3 -m pip install types-requests mypy black pylint && \
          bash dev-run.sh'
